@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* input[type="date"]::-webkit-inner-spin-button, */
/* input[type="date"]::-webkit-calendar-picker-indicator, */
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background:
        conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#8d9097 0 120deg,#0000 0),
        conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#5b5d63 0 120deg,#0000 0),
        conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#2a2b2e 0 120deg,#0000 0),
        conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#2a2b2e 0 120deg,#0000 0),
        conic-gradient(from -180deg at calc(100%/3) 50%,#5b5d63  60deg,#2a2b2e 0 120deg,#0000 0),
        conic-gradient(from 60deg at calc(200%/3) 50%,#2a2b2e  60deg,#8d9097 0 120deg,#0000 0),
        conic-gradient(from -60deg at 50% calc(100%/3),#2a2b2e 120deg,#5b5d63 0 240deg,#8d9097 0);
    background-size: 346px 200px;

    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    background-color: grey;
    max-width: 75%;
    width: 100%;
    margin: 40px auto;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 60px;
}
nav h1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
nav h1.Activo {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.ContenedorBotones {
    background-color: #333;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.ContenedorBotones button {
    font-family: 'Poppins';
    padding: 10px;
    margin: 10px;
}


/* Parte 1 */
div#Parte1 .ContenedorPuesto {
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
}
div#Parte1 .ContenedorPuesto .Fila {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
div#Parte1 .ContenedorPuesto .Fila label {
    display: inline-block;
    padding: 30px 30px;
    min-width: 30px;
    margin: 5px;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
}
div#Parte1 .ContenedorPuesto .Fila input[type="radio"] {
    display: none;
}
div#Parte1 .ContenedorPuesto .Fila input[type="radio"]:checked + label {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
}

div#Parte1 .ContenedorFormulario {
    margin: 60px auto;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    width: 50%;
    border-radius: 5px;
    padding: 10px 0;
}
div#Parte1 .ContenedorFormulario .Columna {
    display: flex;
    flex-direction: column;
}
div#Parte1 .ContenedorFormulario .Columna div {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    column-gap: 50px;
}
div#Parte1 .ContenedorFormulario .Columna div span {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    column-gap: 10px;
}
div#Parte1 .ContenedorFormulario input {
    background-color: #333;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
div#Parte1 .ContenedorFormulario hr {
    width: 150px;
    height: 5px;
    border: 1px solid #333;
    background-color: #333;
    border-radius: 5px;
    margin: 20px;
}


/* Parte 2 */
div#Parte2 .FormularioUsuario {
    background-color: #f4f4f4;
    max-width: 45%;
    width: 100%;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
div#Parte2 .FormularioUsuario div {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#Parte2 .FormularioUsuario label {
    display: block;
    margin-bottom: 5px;
    width: 60%;
    text-align: center;
}
div#Parte2 .FormularioUsuario input {
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}


/* Parte 3 */
div#Parte3 .FormularioPago {
    background-color: #f4f4f4;
    max-width: 45%;
    width: 100%;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
div#Parte3 .FormularioPago div {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#Parte3 .FormularioPago label {
    display: block;
    margin-bottom: 5px;
    width: 60%;
    text-align: center;
}
div#Parte3 .FormularioPago input {
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
}
div#Parte3 .FormularioPago hr {
    width: 150px;
    height: 5px;
    border: 1px solid #333;
    background-color: #333;
    border-radius: 5px;
    margin: 20px;
}

/* Parte 4 */
div#Parte4 {
    background-color: grey;
    max-width: 75%;
    width: 100%;
    margin: 40px auto;
    border-radius: 5px;
}
div#Parte4 .ResumenReserva {
    background-color: #f4f4f4;
    max-width: 50%;
    width: 100%;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
div#Parte4 .ResumenReserva div {
    /* margin-bottom: 15px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}
div#Parte4 .ResumenReserva hr {
    width: 150px;
    height: 5px;
    border: 1px solid #333;
    background-color: #333;
    border-radius: 5px;
    margin: 20px;
}
div#Parte4 .ContenedorBotones a {
    text-decoration: none;
    color: black;
}